# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/mongoData
/node_modules
.vscode
.DS_Store
k8s-example

#FRONTEND APP
/react-frontend/node_modules
/react-frontend/.pnp
/react-frontend/.env

# testing
/react-frontend/coverage

# production
/react-frontend/build

# misc
/react-frontend/.DS_Store
/react-frontend/.env.local
/react-frontend/.env.development.local
/react-frontend/.env.test.local
/react-frontend/.env.production.local

/react-frontend/npm-debug.log*
/react-frontend/yarn-debug.log*
/react-frontend/yarn-error.log*


#BACKEND APP
/nodejs-backend/node_modules
/nodejs-backend/dist
/nodejs-backend/.env
/nodejs-backend/.env.local
/nodejs-backend/.env.development.local
/nodejs-backend/.env.test.local
/nodejs-backend/.env.production.local
.pnp.js

